body {
    transition: background-color 1s;
     font-family: Arial, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     background-color: #ffffff;
 }

 .color-picker {
     background-color: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
 }

.color-info {
     margin-top: 20px;
 }

 .color-info-item {
  display: flex;
}

.color-info-item button {

    margin-left: 20px;

}
p {
     margin: 5px 0;
     font-size: 16px;
 }

#subtitle {
    margin-bottom: 20px;
    color: black;
}